.subheading {
  font-size: 3em;
  text-align: center;
  vertical-align: middle;
  padding: 3% 20% 3% 5%;
}
.subnav {
  width: 80%;
  margin: 1% 10% 0% 10%;
  background-image: url(../../IMAGES/BACKGROUNDS/BACKGROUND-3.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 80%;
}
