* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 20px;
  color: white;
}

/* HEADER */

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  padding-top: 1.5%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.nav-link {
  font-size: 1.7em;
  color: white;
  text-decoration: none;
}

.nav-header {
  padding: 0.5% 1% 0.3% 1%;
  font-size: 1.7em;
  list-style-type: none;
  border-radius: 15px;
}

.nav-header:hover,
.nav-dropdown:hover {
  background: #777777;
  cursor: pointer;
}

.nav-dropdown {
  background: #777777;
  visibility: hidden;
  text-decoration: none;
}

.nav-dropdown li {
  list-style-type: none;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
}

.nav-dropdown a {
  text-decoration: none;
}

div.nav-dropdown {
  display: table;
  text-align: left;
  text-decoration: none;
}

.nav-header:hover .nav-dropdown {
  visibility: visible;
}

.nav-header-no-link {
  padding: 0.5% 1% 0.3% 1%;
  font-size: 1.7em;
  list-style-type: none;
}

/* MAIN */

body {
  background-color: black;
}

main {
  padding-bottom: 7%;
}

/* SUBNAV */

a {
  text-transform: uppercase;
  font-size: 1em;
}

section {
  margin-bottom: 2%;
}

h3 {
  font-size: 3em;
  margin: 3% 0% 1% 15%;
}

h4 {
  font-size: 2em;
  margin: 3% 0% 1% 15%;
}

h1 {
  font-size: 1.5em;
  margin-left: 15%;
  margin-bottom: 1%;
  text-decoration: underline;
}

.logo-rect {
  width: 6%;
  margin-left: 15%;
  margin-bottom: 1%;
}

p {
  font-size: 1.2em;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.img {
  width: auto;
}

.top {
  padding-top: 1%;
  text-decoration: underline;
}

/* FOOTER */

footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  height: 5%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 3%;
}

footer > section {
  display: flex;
  justify-content: space-evenly;
}

.footer-links {
  width: 25%;
  float: left;
  display: inline;
}

.footer-right {
  width: 15%;
  float: right;
  display: inline;
}

.footer-links li {
  list-style-type: none;
}

.footer-links a {
  text-decoration: none;
  font-size: 1.4em;
  color: white;
}

.suggest form {
  display: flex;
}

.suggest input {
  background-color: #4a4a4a;
  color: #f9faf8;
  font-size: 1em;
  border: none;
  padding: 1%;
}

.suggest button {
  background-color: #777777;
  font-size: 1.1em;
  border: none;
  align-self: center;
  color: #f9faf8;
  padding: 1%;
}

.copyright {
  text-align: center;
  margin-top: 10%;
  color: #f9faf8;
  font-size: 1em;
}

.separator {
  border: 0;
  border-top: 1px solid #fff;
  padding-top: 1%;
}
